<div id="sum">
  <input type="text" name="a"/>
  <input type="text" name="b"/>
  <button id="sum-button" type="button">Sum</button>
  <div id="result"></div>
</div>
<script>
  const state = {
    a: undefined,
    b: undefined,
  }

  function sum(a, b) {
    return a + b
  }

  const aDom = document.querySelector('[name="a"]')
  const bDom = document.querySelector('[name="b"]')
  const resultDom = document.querySelector('#result')
  const sumButton = document.querySelector('#sum-button')

  aDom.addEventListener('input', (event) => {
    state.a = Number.parseFloat(event.target.value)
  })
  bDom.addEventListener('input', (event) => {
    state.b = Number.parseFloat(event.target.value)
  })
  sumButton.addEventListener('click', (event) => {
    const result = sum(state.a, state.b)

    resultDom.innerHTML = result
  })
</script>
