<div id="sum">
  <input type="text" name="a"/>
  <input type="text" name="b"/>
  <button id="sum-button" type="button">Sum</button>
  <div id="result"></div>
</div>
<script>
  const state = {
    a: undefined,
    b: undefined,
  }

  function sum(a, b) {
    return a + b
  }

  function initInput(name, state) {
    const input = document.querySelector(`[name="${name}"]`)

    input.addEventListener('input', (event) => {
      state[name] = Number.parseFloat(event.target.value)
    })

    return input
  }

  const aDom = initInput('a', state)
  const bDom = initInput('b', state)
  const resultDom = document.querySelector('#result')
  const sumButton = document.querySelector('#sum-button')

  sumButton.addEventListener('click', (event) => {
    const result = sum(state.a, state.b)

    resultDom.innerHTML = result
  })
</script>
