<div id="root"></div>

<script>
function main() {
  const stateHolder = stateCreator({
    a: undefined,
    b: undefined,
  })

  stateHolder.on('change', (state) => {
    const dom = component({
      tag: 'div',
      id: 'sum',
      children: [
        component({
          tag: 'input',
          type: 'text',
          name: 'a',
          value: state.a,
          onInput: (event) => stateHolder.update({
            a: Number.parseFloat(event.target.value),
            b: state.b,
          }),
        }),
        component({
          tag: 'input',
          type: 'text',
          name: 'a',
          value: state.b,
          onInput: (event) => stateHolder.update({
            a: state.a,
            b: Number.parseFloat(event.target.value),
          }),
        }),
        component({
          tag: 'button',
          id: 'sum-button',
          type: 'button',
          children: 'Sum',
          onClick: (event) => stateHolder.update({
            a: state.a,
            b: state.b,
            sum: sum(state.a, state.b),
          })
        }),
        component({
          tag: 'div',
          id: 'result',
          children: state.sum,
        }),
      ],
    })

    render(dom, '#root')
  })

  stateHolder.update({
    a: undefined,
    b: undefined,
  })
}

main()

function component(props) {
  const el = document.createElement(props.tag)

  if (props.type) {el.type = props.type}
  if (props.name) {el.name = props.name}
  if (props.id) {el.id = props.id}
  if (props.value) {el.value = props.value}

  if (props.children && (props.children instanceof Array)) {
    props.children.forEach((i) => el.append(i))
  }

  if (props.children && (typeof props.children === 'string' || typeof props.children === 'number')) {
    el.textContent = props.children
  }

  if (props.onInput) {
    el.addEventListener('input', props.onInput)
  }

  if (props.onClick) {
    el.addEventListener('click', props.onClick)
  }

  return el
}

function render(dom, mountPoint) {
  const mount = document.querySelector(mountPoint)

  mount.innerHTML = ''
  mount.append(dom)
}

function stateCreator(initialState) {
  const state = initialState
  const callbacks = {}

  return {
    get: () => state,
    update: (nextState) => {
      Object.assign(state, nextState)

      for (let callbackName in callbacks) {
        callbacks[callbackName].forEach((callback) => callback(state))
      }
    },
    on: (callbackName, callback) => {
      if (!callbacks[callbackName]) {
        callbacks[callbackName] = []
      }

      callbacks[callbackName].push(callback)
    },
  }
}

function sum(a, b) {
  return a + b
}
</script>
